<section class="container text-center mt-5" id="register">
  <div class="row justify-content-center">
    <div class="col-6 col-md-2">
      <p>Swim<br><strong>{{ event.swim_type }}</strong></p>
    </div>
    <div class="col-6 col-md-2">
      <p>Bike<br><strong>{{ event.bike_type }}</strong></p>
    </div>
    <div class="col-6 col-md-2">
      <p>Run<br><strong>{{ event.run_type }}</strong></p>
    </div>
    <div class="col-6 col-md-2">
      <p>High Temp<br><strong>{{ event.temp_high }}°C</strong></p>
    </div>
    <div class="col-6 col-md-2">
      <p>Water Temp<br><strong>{{ event.temp_water }}°C</strong></p>
    </div>
  </div>
</section>
